<form action="/login" method="post">

  <label for="username">Nome utente</label>
  <input id="username" name="username" type="text" />

  <lable for="password">Password</lable>
  <input id="password" name="password" type="password" />

  <button>Invia</button>
</form>