<div class="row justify-content-sm-center" style="margin-top: 300px;">
  <div class="col-sm-auto">
    <form action="/login" method="post">
        <fieldset>
          <legend>Login</legend>
          <div class="control-group">
            <label class="control-label" for="username">Nome utente</label>
            <div class="controls">
              <input id="username" name="username" type="text" />
            </div>
          </div>
          <div class="control-group" style="margin-bottom: 10px;">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input id="password" name="password" type="password" />
            </div>
          </div>
          <button type="submit" class="btn">Invia</button>
        </fieldset>
      </form>
  </div>
</div>
