<div class="centerVertical">
  <form action="/login" method="post">
    <div class="form-row">
      <label for="username">Nome utente</label>
      <input id="username" name="username" type="text" />
    </div>
    <div class="form-row">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
    </div>
    <div class="form-row bottomRight">
      <button>Invia</button>
    </div>
  </form>
</div>
