<ul class="navbar">
  <li><a href="/admin/userList">Lista utenti</a></li>
  <li><a href="/admin/manage">Amministra database</a></li>
  <li><a class="active" href="/admin/register">Registra utente</a></li>
  <li class="logout"><a href="/logout">Logout</a></li>
</ul>

<form action="/admin/register" method="post">

  <div class="form-row">
    <label for="firstName">Nome</label>
    <input id="firstName" name="firstName" type="text" />
  </div>

  <div class="form-row">
    <label for="lastName">Cognome</label>
    <input id="lastName" name="lastName" type="text" />
  </div>

  <div class="form-row">
    <label for="type">Tipologia</label>
    <select id="type" name="type">
      <option value="Utente">Utente</option>
      <option value="Amministratore">Amministratore</option>
    </select>
  </div>

  <div class="form-row">
    <label for="username">Nome utente</label>
    <input id="username" name="username" type="text" />
  </div>

  <div class="form-row">
    <label for="password">Password</label>
    <input id="password" name="password" type="text" />
  </div>

  <div class="form-row">
    <button>Invia</button>
  </div>

</form>
