<form action="/admin/register" method="post">

  <label for="firstName">Nome</label>
  <input id="firstName" name="firstName" type="text" />

  <label for="lastName">Cognome</label>
  <input id="lastName" name="lastName" type="text" />

  <label for="type">Tipologia</label>
  <select id="type" name="type">
    <option value="user">Utente normale</option>
    <option value="admin">Amministratore</option>
  </select>

  <label for="username">Nome utente</label>
  <input id="username" name="username" type="text" />

  <label for="password">Password</label>
  <input id="password" name="password" type="text" />

  <button>Invia</button>
</form>