<form action="user/report" method="post">
  <label for="date">Data</label>
  <input id="date" name="date" type="date" />
  <label for="time">Tempo</label>
  <input id="time" name="time" type="text" />
</form>