html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerVertical {
  align-items: center;
  display: flex;
}

.form-row {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

button {
  width: 200px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
  background-color: #97d155;
  color: white;
}

button:hover {
  background-color: #a9dd6c;
}

.form-row button {
  align-self: end;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

table, th, td {
  border: 1px solid #ddd;
}

td {
  text-align: center;
}

td > form > button {
  font-size: 15px;
  background-color: #e26161;
  padding: 5px 10px;
  width: 70px;
}

td > form > button:hover {
  background-color: #f27979;
}

table {
  border-collapse: collapse;
  width: 70%;
}

.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333333;
  height: 47px;
}

.navbar > li {
  float: left;
}

.navbar > li.logout {
  float: right;
}

.navbar > li > a {
  display: block;
  padding: 14px 16px;
  background-color: #333333;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar > li > a:hover,
.navbar > li > a.active {
  background-color: #6d6d6d;
}